<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %> 
    
</head>
<body>
    <header>
        <%- include('../../layout/header') %> 
    </header>
    <main>
        <section>
           <%- include('detail.ejs'); %>
        </section>
    </main>
    <script src="js/app.js"></script>
</body>
</html>