<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <form action="/searches/new" method="post">
      <label for="">
        <input type="text" placeholder="book" name="bookName"/> 
      </label>
      <br />
      <label for="title">
        By Title
        <input type="radio" id="title" value="title" name="by" /> </label><br /><br />

      <label for="Autor">
        By Author
        <input type="radio" id="auther" value="auther" name="by" /> </label><br />
      <button>submit</button>
    </form>


  </body>
</html>
