<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>

    <title>Search</title>
  </head>
  <body>
    <header>
      <%- include('../../layout/header') %>
    </header>
    <main>
      <form action="/searches" method="post" id="myForm">
        <input
          type="text"
          placeholder="book"
          name="bookName"
          id="searchInput"
        />

        <label for="title">
          By Title
          <input type="radio" id="title" value="title" name="by" />
        </label>

        <label for="Author">
          By Author
          <input type="radio" id="auther" value="author" name="by" />
        </label>
        <button id="submitForm">submit</button>
      </form>
    </main>
    <script src="../js/app.js"></script>
  </body>
</html>
