<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="appTitle">Search4Books</h1>
      <i id="burger" class="material-icons" onclick="burger()">menu</i>
      <i id="quit" class="material-icons" onclick="quit()">clear</i>
      <div id="links">
        <a href="/search">Search</a>
       
      </div>
    </header>
    <main>

    <form action="/searches/new" method="post" id="myForm">
     
        <input type="text" placeholder="book" name="bookName" id="searchInput" />
      

      <label for="title">
        By Title
        <input type="radio" id="title" value="title" name="by" />
      </label>

      <label for="Author">
        By Author
        <input type="radio" id="auther" value="auther" name="by" />
      </label>
      <button id="submitForm">submit</button>
    </form>
  </main>
<script src="js/app.js"></script>
  </body>
</html>
