body {
  background-color: white;
}
#errorPage {
  background-image: url("../imgs/404.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: lightblue;
    margin: 0;
  }

  .appTitle {
      margin: 0;
    background-color: black;  
    color: blanchedalmond;
    height: 40px;
    text-align: center;

  }
  
#burger{
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    background: linear-gradient(45deg, #050505 10%, #dae8e9);;
    font-size: 32px;
    padding: 4px 4px;
    /* border-radius: 0% 0% 0% 100%; */
    transition: 1s;
    cursor: pointer;
  }
  
  #quit{
    position: fixed;
    top: 0;
    color: white;
    font-size: 32px;
    padding: 16px;
    display: none;
    cursor: pointer;
  }
  
  #links{
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    padding: 25vh 0;
    justify-content: space-around;
  }
  
  #links a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: 'Roboto';
    z-index: 10;
  }
#myForm{
    background-color: chartreuse;
    border: 1px solid tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#myForm > *{
left: 20%;
}
#searchInput{
    height: 20px;
    width: 70%;
}
#submitForm{
    height: 20px;
    width: 70%;
}

.toggleForm{
  display: none;
}
#toggleForm{
  display: none;
}
}
