<link rel="stylesheet" href="styles/base.css" />
<h1 class="appTitle">Hello world</h1>
<!-- <a href="/search">Search</a> -->
<i id="burger" class="material-icons" onclick="burger()">menu</i>
<i id="quit" class="material-icons" onclick="quit()">clear</i>
<div id="links">
  <a href="/search/new">Search</a>
  <a href="/">Home</a>
  
</div>